@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  overflow-x: hidden;
}
@keyframes fade-in-bubble {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bubble-orange {
  animation: fade-in-bubble 1s ease-out forwards;
  opacity: 0;
}

.bubble-teal {
  animation: fade-in-bubble 1s ease-out 0.4s forwards;
  opacity: 0;
}